{% extends 'base.html'%} {% block head %}
<title>Flask ToDo App</title>
{% endblock %} {% block body%}
<div class="content">
  <h1>Flask ToDo App</h1>

  {% if tasks | length < 1%}
  <h3>Looks like you have no task, could you please create a task??</h3>
  {% else %}
  <table>
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th>Actions</th>
      <th>Mark As</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{task.content}}</td>
      <td>{{task.created.strftime("%Y-%m-%d")}}</td>
      <td class="buttons">
        <a href="/delete/{{task.id}}">Delete</a>
        <br />
        <a href="/edit/{{task.id}}">Edit</a>
      </td>
      <td class="markas">
        <div class="checkbox-container">
          <input type="checkbox" name="" id="task-{{task.id}}" />
          <label for="task-{{task.id}}">Completed</label>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <form action="/" method="POST">
    <input type="text" name="content" id="content" />
    <input type="submit" value="Add Task" id="btn_add" />
  </form>
</div>

{% endblock %}
