{% extends 'base.html' %} {% block head %}
<title>Login</title>
{% endblock %} {% block body %}
<div class="content">
  <h1>Login</h1>
  <form action="/login" method="POST">
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
    </div>
    <div>
      <input type="submit" value="Login" />
    </div>
  </form>
  <p>Don't have an account? <a href="/register">Create one</a></p>
</div>
{% endblock %}
